.cell {
  height: 40px;
  width: 40px;
  margin: 2px 2px;
  border-radius: 6px;
  border: none;
  vertical-align: middle;
}

.closed {
  background-color: dimgrey;
}

.bombed {
  background: red url("fired.svg") no-repeat center;
  background-size: 100% 100%;
}

.flagged {
  background: aquamarine url("target.svg") no-repeat center;
  background-size: 100% 100%;
}

.mine-text-opened {
  color: white;
}

.mine-text-flagged {
  visibility: hidden;
}

.mine-text-closed {
  visibility: hidden;
}

.mine-text-bombed {
  visibility: hidden;
}

.opened {
  background-color: limegreen;
  /*box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}

.field {
  padding: 8px;
  background-color: white;
  border-radius: 12px;
}

.row {

}

