.cell {
    min-height: 5vmin;
    min-width: 5vmin;
    margin: 0.2vmin 0.2vmin;
    border-radius: 1vmin;
    border: none;
}

.hidden {
    background-color: dimgrey;
}

.bombed {
    background-color: red;
}

.flagged {
    background-color: aquamarine;
}

.cleared {
    background-color: limegreen;
}

.field {
    padding: 1vmin;
    background-color: white;
    border-radius: 2vmin;
}